* Rahil Sayyad
* Email id: rahilsayyad389@gmail.com

## import libraries

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import seaborn as sns

## Check out the Data

In [4]:
df=sns.load_dataset("tips")

In [5]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [7]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

## using LabelEncoder convert string column to int

In [8]:
l=["sex","smoker","day","time"]
for i in l:
    from sklearn.preprocessing import LabelEncoder
    le=LabelEncoder()
    le.fit(df[i])
    df[i]=le.transform(df[i])

## x,y sepration

In [9]:
x=df.loc[:,["total_bill","sex","smoker","day","time","size"]]

In [10]:
x

     total_bill  sex  smoker  day  time  size
0         16.99    0       0    2     0     2
1         10.34    1       0    2     0     3
2         21.01    1       0    2     0     3
3         23.68    1       0    2     0     2
4         24.59    0       0    2     0     4
..          ...  ...     ...  ...   ...   ...
239       29.03    1       0    1     0     3
240       27.18    0       1    1     0     2
241       22.67    1       1    1     0     2
242       17.82    1       0    1     0     2
243       18.78    0       0    3     0     2

[244 rows x 6 columns]

In [11]:
y=df.loc[:,'tip']

In [12]:
y

0      1.01
1      1.66
2      3.50
3      3.31
4      3.61
       ...
239    5.92
240    2.00
241    2.00
242    1.75
243    3.00
Name: tip, Length: 244, dtype: float64

## Train Test Split
**Now let's split the data into a training set and a testing set. We will train out model on the training set and then use the test set to evaluate the model.**

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

## Creating and Training the Model

In [14]:
from sklearn.neighbors import KNeighborsRegressor
knn=KNeighborsRegressor(23)
knn

KNeighborsRegressor(n_neighbors=23)

In [15]:
knn.fit(x_train,y_train)

KNeighborsRegressor(n_neighbors=23)

In [16]:
y_pred = knn.predict(x_test)
y_pred

array([3.65086957, 4.55869565, 2.25565217, 3.93913043, 3.16869565,
       1.84173913, 3.31      , 3.10391304, 2.16434783, 1.86913043,
       2.12826087, 4.75      , 2.59304348, 3.02086957, 4.75      ,
       3.42826087, 1.88826087, 2.30782609, 1.93782609, 2.95652174,
       1.93869565, 2.46521739, 2.8426087 , 3.24304348, 2.69434783,
       4.34869565, 2.3273913 , 2.34043478, 3.13173913, 3.14304348,
       2.62173913, 2.09347826, 3.47913043, 3.52608696, 3.52608696,
       2.61913043, 3.46391304, 1.96913043, 2.8426087 , 3.87956522,
       3.44304348, 2.52304348, 2.80521739, 3.05478261, 2.89782609,
       1.91478261, 4.41478261, 4.41478261, 2.06565217])

## mean_squared_error

In [17]:
from sklearn.metrics import mean_squared_error
rmse_val = [] #to store rmse values for different k
for K in range(0,30,2):
    K = K+1
    knn = KNeighborsRegressor(n_neighbors = K)
    knn.fit(x_train, y_train)  #fit the model
    y_pred=knn.predict(x_test) #make prediction on test set
    error =np.sqrt(mean_squared_error(y_test,y_pred)) #calculate rmse
    rmse_val.append(error) #store rmse values
    print('RMSE value for k= ' , K , 'is:', error)

RMSE value for k=  1 is: 1.2744330472161864
RMSE value for k=  3 is: 1.116597926607969
RMSE value for k=  5 is: 1.0395909713705205
RMSE value for k=  7 is: 0.9951558430818721
RMSE value for k=  9 is: 0.9315084605593908
RMSE value for k=  11 is: 0.8833085162593376
RMSE value for k=  13 is: 0.8781820261507408
RMSE value for k=  15 is: 0.8365778742487395
RMSE value for k=  17 is: 0.8405704673274222
RMSE value for k=  19 is: 0.8350084891122919
RMSE value for k=  21 is: 0.8383612750300645
RMSE value for k=  23 is: 0.8398861344250357
RMSE value for k=  25 is: 0.8381568232784145
RMSE value for k=  27 is: 0.8463854464457056
RMSE value for k=  29 is: 0.8401905776375694

## using GridSearchCV find best parameter

In [18]:
from sklearn.model_selection import GridSearchCV
parameters = {'n_neighbors':np.arange(1,30,2)}
mx = GridSearchCV(knn, parameters)
print(mx.fit(x,y))

GridSearchCV(estimator=KNeighborsRegressor(n_neighbors=29),
             param_grid={'n_neighbors': array([ 1,  3,  5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29])})

In [21]:
mx.best_params_

{'n_neighbors': 23}

In [22]:
mx.best_score_

0.4130683404407577