* Rahil Sayyad
* rahilsayyad389@gmail.com

## import libraries

In [1]:
import numpy as np
import pandas as pd

## Read dataset

In [2]:
df=pd.read_csv("50_Startups.csv")

In [3]:
df.head() #

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
df.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

## Separate independant (y) and Dependant (y) variable

In [5]:
x= df.iloc[:, :-1].values  
y= df.iloc[:, 4].values

In [6]:
x

array([[165349.2, 136897.8, 471784.1, 'New York'],
       [162597.7, 151377.59, 443898.53, 'California'],
       [153441.51, 101145.55, 407934.54, 'Florida'],
       [144372.41, 118671.85, 383199.62, 'New York'],
       [142107.34, 91391.77, 366168.42, 'Florida'],
       [131876.9, 99814.71, 362861.36, 'New York'],
       [134615.46, 147198.87, 127716.82, 'California'],
       [130298.13, 145530.06, 323876.68, 'Florida'],
       [120542.52, 148718.95, 311613.29, 'New York'],
       [123334.88, 108679.17, 304981.62, 'California'],
       [101913.08, 110594.11, 229160.95, 'Florida'],
       [100671.96, 91790.61, 249744.55, 'California'],
       [93863.75, 127320.38, 249839.44, 'Florida'],
       [91992.39, 135495.07, 252664.93, 'California'],
       [119943.24, 156547.42, 256512.92, 'Florida'],
       [114523.61, 122616.84, 261776.23, 'New York'],
       [78013.11, 121597.55, 264346.06, 'California'],
       [94657.16, 145077.58, 282574.31, 'New York'],
       [91749.16, 114175.79, 294919.57, 'Florida'],
       [86419.7, 153514.11, 0.0, 'New York'],
       [76253.86, 113867.3, 298664.47, 'California'],
       [78389.47, 153773.43, 299737.29, 'New York'],
       [73994.56, 122782.75, 303319.26, 'Florida'],
       [67532.53, 105751.03, 304768.73, 'Florida'],
       [77044.01, 99281.34, 140574.81, 'New York'],
       [64664.71, 139553.16, 137962.62, 'California'],
       [75328.87, 144135.98, 134050.07, 'Florida'],
       [72107.6, 127864.55, 353183.81, 'New York'],
       [66051.52, 182645.56, 118148.2, 'Florida'],
       [65605.48, 153032.06, 107138.38, 'New York'],
       [61994.48, 115641.28, 91131.24, 'Florida'],
       [61136.38, 152701.92, 88218.23, 'New York'],
       [63408.86, 129219.61, 46085.25, 'California'],
       [55493.95, 103057.49, 214634.81, 'Florida'],
       [46426.07, 157693.92, 210797.67, 'California'],
       [46014.02, 85047.44, 205517.64, 'New York'],
       [28663.76, 127056.21, 201126.82, 'Florida'],
       [44069.95, 51283.14, 197029.42, 'California'],
       [20229.59, 65947.93, 185265.1, 'New York'],
       [38558.51, 82982.09, 174999.3, 'California'],
       [28754.33, 118546.05, 172795.67, 'California'],
       [27892.92, 84710.77, 164470.71, 'Florida'],
       [23640.93, 96189.63, 148001.11, 'California'],
       [15505.73, 127382.3, 35534.17, 'New York'],
       [22177.74, 154806.14, 28334.72, 'California'],
       [1000.23, 124153.04, 1903.93, 'New York'],
       [1315.46, 115816.21, 297114.46, 'Florida'],
       [0.0, 135426.92, 0.0, 'California'],
       [542.05, 51743.15, 0.0, 'New York'],
       [0.0, 116983.8, 45173.06, 'California']], dtype=object)

In [7]:
y=df['Profit']

In [8]:
y

0     192261.83
1     191792.06
2     191050.39
3     182901.99
4     166187.94
5     156991.12
6     156122.51
7     155752.60
8     152211.77
9     149759.96
10    146121.95
11    144259.40
12    141585.52
13    134307.35
14    132602.65
15    129917.04
16    126992.93
17    125370.37
18    124266.90
19    122776.86
20    118474.03
21    111313.02
22    110352.25
23    108733.99
24    108552.04
25    107404.34
26    105733.54
27    105008.31
28    103282.38
29    101004.64
30     99937.59
31     97483.56
32     97427.84
33     96778.92
34     96712.80
35     96479.51
36     90708.19
37     89949.14
38     81229.06
39     81005.76
40     78239.91
41     77798.83
42     71498.49
43     69758.98
44     65200.33
45     64926.08
46     49490.75
47     42559.73
48     35673.41
49     14681.40
Name: Profit, dtype: float64

In [9]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
ohe=OneHotEncoder(sparse=False)
transformed=ohe.fit_transform(df[['State']])
ohe.categories_

C:\Users\Rahil\AppData\Roaming\Python\Python39\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

[array(['California', 'Florida', 'New York'], dtype=object)]

In [10]:
#adding transformed values to df
df[ohe.categories_[0]]=transformed
df.head()

,R&D Spend,Administration,Marketing Spend,State,Profit,California,Florida,New York
0,165349.20,136897.80,471784.10,New York,192261.83,0.0,0.0,1.0
1,162597.70,151377.59,443898.53,California,191792.06,1.0,0.0,0.0
2,153441.51,101145.55,407934.54,Florida,191050.39,0.0,1.0,0.0
3,144372.41,118671.85,383199.62,New York,182901.99,0.0,0.0,1.0
4,142107.34,91391.77,366168.42,Florida,166187.94,0.0,1.0,0.0

In [11]:
#drop orginal state column and label 
X=df.drop(['Profit','State'],axis=1)
X.head()

   R&D Spend  Administration  Marketing Spend  California  Florida  New York
0  165349.20       136897.80        471784.10         0.0      0.0       1.0
1  162597.70       151377.59        443898.53         1.0      0.0       0.0
2  153441.51       101145.55        407934.54         0.0      1.0       0.0
3  144372.41       118671.85        383199.62         0.0      0.0       1.0
4  142107.34        91391.77        366168.42         0.0      1.0       0.0

In [12]:
#set Y column
y=df['Profit']
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

## split the data in train and test side

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=11)

## fitting the model

In [14]:
from sklearn.linear_model import LinearRegression
LR=LinearRegression()

In [15]:
LR.fit(x_train,y_train)

LinearRegression()

In [16]:
#predict the output
y_pred=LR.predict(x_test)

In [17]:
y_pred

array([ 85947.41521648,  41990.36806755,  73990.36991933, 114886.28941702,
       184725.10289905,  41186.0299376 , 112121.81002524,  62364.44210824,
       150972.56146393, 114640.77993212, 152974.39597683,  67666.35787728,
       161561.79535493,  84839.78606674,  99635.51698465])

In [18]:
y_test

37     89949.14
45     64926.08
36     90708.19
22    110352.25
2     191050.39
48     35673.41
26    105733.54
38     81229.06
8     152211.77
19    122776.86
14    132602.65
42     71498.49
5     156991.12
35     96479.51
30     99937.59
Name: Profit, dtype: float64

In [19]:
from sklearn.metrics import r2_score # find R2 score
r2_score(y_train, LR.predict(x_train))

0.9587169760931511

In [20]:
print(LR.intercept_)

42763.60873347211

## Root_mean_squared_error

In [21]:
from sklearn.metrics import mean_squared_error
rmse_val = [] #to store rmse values for different k
for mse in range(30):
    mse= mse+1
    knn = LinearRegression()
    error =np.sqrt(mean_squared_error(y_test,y_pred)) #calculate rmse
    rmse_val.append(error) #store rmse values
    print('RMSE value for k= ' , mse , 'is:', error)

RMSE value for k=  1 is: 11439.918252463985
RMSE value for k=  2 is: 11439.918252463985
RMSE value for k=  3 is: 11439.918252463985
RMSE value for k=  4 is: 11439.918252463985
RMSE value for k=  5 is: 11439.918252463985
RMSE value for k=  6 is: 11439.918252463985
RMSE value for k=  7 is: 11439.918252463985
RMSE value for k=  8 is: 11439.918252463985
RMSE value for k=  9 is: 11439.918252463985
RMSE value for k=  10 is: 11439.918252463985
RMSE value for k=  11 is: 11439.918252463985
RMSE value for k=  12 is: 11439.918252463985
RMSE value for k=  13 is: 11439.918252463985
RMSE value for k=  14 is: 11439.918252463985
RMSE value for k=  15 is: 11439.918252463985
RMSE value for k=  16 is: 11439.918252463985
RMSE value for k=  17 is: 11439.918252463985
RMSE value for k=  18 is: 11439.918252463985
RMSE value for k=  19 is: 11439.918252463985
RMSE value for k=  20 is: 11439.918252463985
RMSE value for k=  21 is: 11439.918252463985
RMSE value for k=  22 is: 11439.918252463985
RMSE value for k=  23 is: 11439.918252463985
RMSE value for k=  24 is: 11439.918252463985
RMSE value for k=  25 is: 11439.918252463985
RMSE value for k=  26 is: 11439.918252463985
RMSE value for k=  27 is: 11439.918252463985
RMSE value for k=  28 is: 11439.918252463985
RMSE value for k=  29 is: 11439.918252463985
RMSE value for k=  30 is: 11439.918252463985