* Rahil Sayyad
* Email id: rahilsayyad389@gmail.com

## import libraries

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=sns.load_dataset("tips")

In [3]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [4]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

## using LabelEncoder convert string column to int

In [5]:
l=["sex","smoker","day","time"]
for i in l:
    from sklearn.preprocessing import LabelEncoder
    le=LabelEncoder()
    le.fit(df[i])
    df[i]=le.transform(df[i])

## x,y sepration

In [6]:
x=df.loc[:,["total_bill","sex","smoker","day","time","size"]]

In [7]:
y=df.loc[:,'tip']

In [8]:
x

     total_bill  sex  smoker  day  time  size
0         16.99    0       0    2     0     2
1         10.34    1       0    2     0     3
2         21.01    1       0    2     0     3
3         23.68    1       0    2     0     2
4         24.59    0       0    2     0     4
..          ...  ...     ...  ...   ...   ...
239       29.03    1       0    1     0     3
240       27.18    0       1    1     0     2
241       22.67    1       1    1     0     2
242       17.82    1       0    1     0     2
243       18.78    0       0    3     0     2

[244 rows x 6 columns]

## Train Test Split

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=11)

## Creating and Training the Model

In [11]:
from sklearn.tree import DecisionTreeRegressor

In [29]:
DT=DecisionTreeRegressor(criterion="mse",max_depth=5,min_samples_split=10)

## fit the model

In [30]:
DT.fit(x_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\tree\_classes.py:359: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warnings.warn(

DecisionTreeRegressor(criterion='mse', max_depth=5, min_samples_split=10)

## predict the output using train data

In [31]:
Rs=DT.predict(x_test)

In [32]:
Rs

array([3.13109375, 3.13109375, 3.13109375, 3.13109375, 4.205     ,
       2.535     , 4.205     , 1.99291667, 3.13109375, 3.13109375,
       4.005     , 4.205     , 2.89333333, 1.99291667, 2.535     ,
       2.89333333, 1.        , 2.89333333, 1.80294118, 1.99291667,
       4.205     , 3.13109375, 3.13109375, 1.99291667, 2.535     ,
       2.535     , 2.375     , 2.89333333, 3.644     , 2.535     ,
       2.535     , 1.99291667, 3.13109375, 3.13109375, 1.80294118,
       5.68833333, 3.13109375, 5.68833333, 3.13109375, 2.535     ,
       5.68833333, 2.89333333, 4.205     , 2.89333333, 5.68833333,
       3.13109375, 3.13109375, 2.89333333, 5.68833333, 1.99291667,
       1.80294118, 8.57666667, 3.13109375, 5.68833333, 1.99291667,
       2.375     , 3.13109375, 3.13109375, 3.13109375, 3.13109375,
       3.13109375, 3.13109375, 1.99291667, 3.13109375, 3.13109375,
       4.205     , 2.01833333, 3.13109375, 4.205     , 2.535     ,
       1.80294118, 3.13109375, 4.205     , 5.68833333])

## find a MSE(mean_squared_error)

In [33]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test,Rs)

1.361797060737795

## find a RMSE(Root_mean_squared_error)

In [34]:
np.sqrt(mean_squared_error(y_test,Rs))

1.1669606080488728